<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chat-room</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
    <div class="chat-box">
        <!--聊天框头部-->
        <div class="chat-header">
            <div class="button-box">
                <input type="button" class="log-out" value="LOGOUT">
            </div>
        </div>
        <!--聊天框主体-->
        <div class="chat-body">
            <!--聊天框左侧-->
            <div class="chat-body-left">
                <!--聊天框左侧聊天内容-->
                <div class="chat-content"></div>
                <!--聊天框左侧聊天输入框-->
                <div class="chat-edit">
                    <input type="text" class="edit-box" placeholder="Please Type You Message" maxlength="15">
                    <input type="button" class="edit-button" value="SEND">
                </div>
            </div>
            <!--聊天框右侧-->
            <div class="chat-body-right">
                <!--聊天框右侧统计人数-->
                <div class="online-count">Online:0</div>
                <!--聊天框右侧用户名-->
                <div class="user-name">user-name</div>
                <!--聊天框右侧头像-->
                <img class="user-img" />
            </div>
        </div>
    </div>
</body>

<script src="../public/js/socket.io.js"></script>
<script src="../public/js/index.js"></script>

</html>