<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>编辑用户</title>
    <style>
    .myButton {
    -moz-box-shadow: 0px 0px 0px 0px #a4e271;
    -webkit-box-shadow: 0px 0px 0px 0px #a4e271;
    box-shadow: 0px 0px 0px 0px #a4e271;
    background-color:#89c403;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding: 3px 71px;
    margin-top: 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
    }
    .myButton:hover {
        background-color:#77a809;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    input{
        border: 1px solid #cae;
        color:#cea;
    }
    hr{
        border:1px solid #cea;
    }
    </style>
</head>

<body>
    <form class="form-horizontal" action="/edit" method="post">
        <fieldset>
            <div id="legend" class="">
                <legend class="leipiplugins-orgvalue">编辑用户</legend>
                <hr>
            </div>
            <div class="control-group">
                <!-- Text -->
                <div class="controls">
                    <input type="hidden" name="id" value="<%= datas[0].id %>">
                    <input name="name" type="text"  value=" <%= datas[0].name %> " class="leipiplugins" leipiplugins="text">
                </div>
            </div>
            <br>
            <div class="control-group">
                <!-- Text -->
                <div class="controls">
                    <input name="age" type="text"  value=" <%= datas[0].age %> " class="leipiplugins" leipiplugins="text">
                </div>
            </div>
             <input class="myButton" type="submit" value="提交">
        </fieldset>
    </form>
</body>

</html>